{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vehicules list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Codeinterne</th>
                <th>Nombreplace</th>
                <th>Matricule</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vehicule in vehicules %}
            <tr>
                <td><a href="{{ path('vehicule_show', { 'id': vehicule.id }) }}">{{ vehicule.id }}</a></td>
                <td>{{ vehicule.codeInterne }}</td>
                <td>{{ vehicule.nombrePlace }}</td>
                <td>{{ vehicule.matricule }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('vehicule_show', { 'id': vehicule.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('vehicule_edit', { 'id': vehicule.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('vehicule_new') }}">Create a new vehicule</a>
        </li>
    </ul>
{% endblock %}
