{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vehicule</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vehicule.id }}</td>
            </tr>
            <tr>
                <th>Codeinterne</th>
                <td>{{ vehicule.codeInterne }}</td>
            </tr>
            <tr>
                <th>Nombreplace</th>
                <td>{{ vehicule.nombrePlace }}</td>
            </tr>
            <tr>
                <th>Matricule</th>
                <td>{{ vehicule.matricule }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('vehicule_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('vehicule_edit', { 'id': vehicule.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
